<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=660px">
  <title>Sketches | {{currentSketch}}</title>
  <style>
    html {
      font-size: 18px;
      line-height: 1.4;
    }
    * {
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
      font-size: 1rem;
      color: #eee;
      margin: 0;
      padding: 0;
    }
    body {
      width: 660px;
      margin: 0 auto 1em;
      background: #111;
      display: grid;
      grid-template-columns: 1fr 12ch;
    }
    nav {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    header {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      padding-left: 1em;
    }
    main {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      padding-bottom: 1.2rem;
    }
    .large {
      font-size: 2rem;
    }
    ul,
    li {
      list-style: none;
    }
    @media (min-width: 661px) {
      html {
        font-size: 14px;
      }
      body {
        margin: .5em auto;
      }
      header {
        padding-left: 0;
      }
    }
  </style>
  {{#if local}}
  <!-- RSS LINK GOES HERE -->
  {{else}}
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="//sketchbook.arlo.me/feed.rss">
  {{/if}}
</head>

<body>
  <header>
    <h1 class="large">{{currentSketch}}</h1>
    <p></p>
  </header>
  <main class="frame" id="my-canvas"></main>
  <nav>
    <div>
      {{#if prevSketch}}
      <a href="/sketch/{{prevSketch}}" class="large" aria-label="{{prevSketch}}">←</a>
      {{else}}<span class="large" aria-hidden="true">←</span>
      {{/if}}

      <a class="large" href="/" aria-label="{{url}}">•</a>

      {{#if nextSketch}}
      <a href="/sketch/{{nextSketch}}" class="large" aria-label="{{nextSketch}}">→</a>
      {{else}}<span class="large" aria-hidden="true">→</span>
      {{/if}}
    </div>
    <details>
      <summary>Index</summary>
      <ul class="nav">
        {{#each sketches}}
        <li>
          {{#if isCurrent}}
          <strong>{{url}}</strong>
          {{else}}
          <a href="/sketch/{{url}}">{{url}}</a>
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </details>
  </nav>
  <script src="/js/p5.min.js"></script>
  <script src="/js/{{currentSketch}}.js"></script>
  <script>
    if (window.sketchHeadline) {
      document.querySelector('p').innerHTML = window.sketchHeadline;
    }
  </script>
  {{#if local}}
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('update', msg => location.reload());
  </script>
  {{/if}}
</body>

</html>